<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css" />
</head>
<body>
<div class="row">
    <div class="col-75">
        <div class="col-25">
            <div class="container">
                <h4>Cart
                    <span class="price" style="color:black">
                  <i class="fa fa-shopping-cart"></i>
                  <b>4</b>
                </span>
                </h4>
                <div th:each="lineItem, stat : ${cartproducts}">
                    <p><a href="#" th:text="${lineItem.getProductName()}"></a> <span class="unit-price" th:text="${lineItem.getTotalPrice()}"></span></p>
                </div>
                <hr>
                <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>