<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-75">
        <div class="col-25">
            <div class="container">
                <h4>Cart
                    <span class="price" style="color:black">
                  <i class="fa fa-shopping-cart"></i>
                  <b>4</b>
                </span>
                </h4>
                <div class="clear-button-container">
                    <button id="clear-button">CLEAR</button>
                </div>
                <div th:each="item : ${cartContent}">
                    <div th:id="${item.get('id')}">
                        <p>
                            <a th:href="'/product/?prod_id='+${item.get('id')}" th:text="${item.get('productName')}"></a>
                            <span class="unit-price" th:text="${item.get('unitPrice')} + ' ' + ${item.get('currency')}"></span>
                            <button class="button-decrease" value="-1">-</button>
                            <span class="quantity" th:text="${item.get('quantity')}"></span>
                            <button class="button-increase" value="1">+</button>
                            <button class="button-delete">DELETE</button>
                            <span class="quantity" th:text="${item.get('subtotalPrice')} + ' ' + ${item.get('currency')}"></span>
                            <br>
                        </p>
                    </div>
                </div>
                <hr>
                <p>Total <span class="price" style="color:black" th:text="${totalPrice} + 'EUR'"><b></b></span></p>
            </div>
        </div>
    </div>
</div>
<div class="checkout-button-container">
    <button id="checkout-button">CHECKOUT</button>
</div>

</body>
</html>