<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div class="checkout-form-container">
        <form class="checkout-form">

            <label for="checkout-name" >Name: </label>
            <input id="checkout-name" type="text">

            <label for="checkout-email">Email: </label>
            <input id="checkout-email" type="email">

            <label for="checkout-phone">Phone number: </label>
            <input id="checkout-phone" type="text">

            <p>Billing Address</p>
            <label for="checkout-country">Contry</label>
            <input id="checkout-country" type="text">

            <label for="checkout-city">City</label>
            <input id="checkout-city" type="text">

            <label for="checkout-zipcode">Zipcode</label>
            <input id="checkout-zipcode" type="number">

            <label for="checkout-address">Address</label>
            <input id="checkout-address" type="text">
        </form>
    </div>
</div>

</body>
</html>