:root {
    --darkgrey: #191927;
    --lightgrey: #232330;
    --white: #ffffff;
    --lightblue: #14a4ad;
    --lightgreen: #287e6e;
    --darkgreen: #1e363c;
    --darkorange: #413432;
    --lightorange: #cb823f;
    --lightred: #b54549;
    --darkred: #4e202d;
    --black: #161616;
    --lightpink: #FFB6C1
}

body {
    margin: 0;
    border: 0;
    padding: 0;

    background-color: var(--darkgrey);
    font-family: Ubuntu, sans-serif;
}

.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 10px;
}
.page-icon > img {
    width: 5.5em;
}
.page-title {
    font-size: xx-large;
    align-self: center;
}
.page-header {
    margin-bottom: 2em;
    padding: 1em 8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    box-shadow: 27px 7px 7px #0c111f;
}
.container {
    background-color: var(--darkgrey);
    display: flex;
    flex-direction: row;
    margin: 0;
}
.navbar {
    margin-left: 4em;
    width: 40em;
    height: max-content;
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: baseline;

    background-color: var(--darkgrey);
    margin-right: 5em;
}
.navbar-element {
    padding: 1em 2em;
    width: 20em;
    margin-right: 5em;
}
.products {
    width: available;
}
#footer {
    background-color: var(--lightgrey);
    color: var(--white);
    text-align: center;
    line-height: 20%;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 26%;
    height: 43px;
    opacity: 50%;
}
.profile-picture > img {
    width: 7em;
    border-radius: 0.7em;
    margin-bottom: 1em;

}
.category-link {
    padding: 1em 1em;
    border-radius: 0.7em;
}
.navbar-icon {
    margin-right: 10px;
}
.category-link:hover {
    background-color: var(--lightgrey);
}
.category-link {
    display: flex;
    flex-direction: row;
}
.category1:hover {
    color: var(--lightred);
}
.category1 > i {
    width: 1em;
    height: 1em;
    color: var(--lightred);
}
.category2:hover {
    color: var(--lightorange);
}
.category3:hover {
    color: var(--lightblue);
}
.category4:hover {
    color: var(--lightgreen);
}
.category5:hover {
    color: var(--lightpink);
}

.category a{
    text-decoration: none;
    color: white;
}
#with-kids:hover {
    color: var(--lightblue);
}
#single:hover {
    color: var(--lightgreen);
}
#in-relationship:hover {
    color: var(--lightorange);
}
#abroad:hover {
    color: var(--lightred);
}
#inland:hover {
    color: var(--lightpink);
}
.cart-container > a {
    display: flex;
    flex-direction: row;
    color: white;
}
.cart-container > a:hover {
    text-decoration: none;
}
.cart-container {
    margin: 1em 2em;
    background-color: var(--lightblue);
    color: var(--white);
    font-weight: bolder;
    font-size: larger;
    border-radius: 0.7em;
    width: 10em;
    padding: 0.5em 1em;
}
.supplier {
    box-shadow: 5px 5px 5px 5px #0c111f;
    border-radius: 0.7em;
    padding: 2em;
}
.supplier-search-btn {
    color: var(--white);
    background-color: var(--lightblue);
    border: none;
    margin-top: 1em;
    border-radius: .7em;
    padding: 0.3em 0.5em;
    font-weight: bolder;
}
.images{
    height: 10px;
}
.btn-success {
    background-color: var(--lightblue);
}
.btn-success:hover {
    background-color: var(--lightblue);
}
#products {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.card {
    background-color: var(--darkgrey);
    color: var(--white);
    border: none;
    box-shadow: 27px 7px 7px #0c111f;
}
#description {
    opacity: 0%;
    height: 100%;
}
.cart-icon {
    margin-right: 10px;
}